<div class="topics">
    <ul class="topic-summary" ng-if="!$ctrl.topicsVisible" >
        <li ng-repeat="topic in $ctrl.topics($ctrl.meetingId)">
            <span>{{topic.display_name}}</span>
        </li>  
    </ul>
    <div class="topic-info" ng-if="$ctrl.topics($ctrl.meetingId).length > 0">
        <p>This meeting covers about {{$ctrl.totalHours($ctrl.meetingId)}} hours of material</p>
        <button ng-click="$ctrl.hideTopics()">{{$ctrl.btnText}}</button>
    </div>
    <div class="topic-info" ng-if="$ctrl.topics($ctrl.meetingId).length === 0">
        <p>There are no topics of discussion assigned to this meeting yet</p>
    </div>

    <div class="topic" ng-if="$ctrl.topicsVisible" ng-repeat="topic in $ctrl.topics($ctrl.meetingId)">
        <div class="topic-bar flex">
            <img ng-src="{{topic.type.icon}}" alt="{{topic.type.name}}-icon">
            <div>
                <a href="{{topic.link}}" target="_blank">{{topic.display_name}}</a>
            </div> 
        </div>
        <table>
            <tr>
                <td>
                    source:
                </td>
                <td>
                    <em>{{topic.source}}</em>
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    {{topic.description}}
                </td>
            </tr>
            <tr>
                <td>
                    Duration:
                </td>
                <td>
                    {{topic.duration}} minutes
                </td>
            </tr>
        </table>
        <a href="{{topic.link}}" target="_blank" class="default-button">{{topic.type.text}}</a>
    </div>
</div>
