<div class="topics">
    <p>total = {{$ctrl.totalHours($ctrl.meetingId)}}</p>
    <button ng-click="$ctrl.hideTopics()">{{$ctrl.btnText}}</button>
    <div class="topic" ng-if="$ctrl.topicsVisible" ng-repeat="topic in $ctrl.topics($ctrl.meetingId)">
        <div class="topic-bar flex">
            <img ng-src="{{topic.type.link}}" alt="{{topic.type.name}}-icon">
            <div>
                <a href="{{topic.link}}" target="_blank">{{topic.display_name}}</a>
            </div> 
        </div>
        <table>
            <tr>
                <td>
                    source:
                </td>
                <td>
                    <em>{{topic.source}}</em>
                </td>
            </tr>
            <tr>
                <td>
                    Description:
                </td>
                <td>
                    {{topic.description}}
                </td>
            </tr>
            <tr>
                <td>
                    Duration:
                </td>
                <td>
                    {{topic.duration}} minutes
                </td>
            </tr>
        </table>
        <a href="{{topic.link}}" target="_blank" class="default-button">{{topic.type.text}}</a>
    </div>
</div>
