$default-gray: #555;
$light-gray: #CCC;
$default-purple: #5B54EF;
$light-purple: rgb(187, 183, 255);


html, body {
    margin: 0;
    padding: 0;
    overflow-x: auto;
    font-family: 'Helvetica neue', sans-serif;

}

html {
    background: url(../images/charts.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
}
.default-button {
    background: $default-purple;
    color: white;
    border: none;
    padding: .3rem .7rem;
    margin: 1rem auto .5rem;
    display: block;
    width: 40%;
    text-align: center;
    transition: all 150ms;
    font-size: 1.25rem;
    text-decoration: none;
    &:hover {
        background: $light-purple;
        color: #000;
    }
    &:active {
      background: #6EB0E8;
    }
  }

#welcome {
    width: 100%;
    max-width: 60rem;
    background: rgba(255,255,255,.85); 
    margin: 1rem auto;
    padding: .5rem 0 .25rem;
    border-radius: .2rem;
    h1 {
        width: 90%;
        margin: 0 auto;
        font-size: 3rem;
        color:black;
        text-align: center;
    }
    p {
        color: black;
        text-align: center;
        display: block;
        margin: 1rem auto;
        width: 90%;
        max-width: 30rem;
        font-size: 1.5rem;
    }
    hr {
        width: 80%;
        color: $light-gray;
    }
}

.meeting {
    width: 50rem;
    margin: 1rem auto;
    padding: 1rem;
    background: #FFF;
    box-shadow: .5rem .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem;
    @media only screen and (max-width: 51rem) {
        width: 100%;
        margin: 1rem 0;
        padding: 1rem 0;
	}
    .meeting-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 auto;
        width: 95%;
        justify-content: space-between;
        h1 {
            margin: 0;
            color: $default-gray;
            font-weight: 400;
        }
        h3 {
            margin: 0;
            font-weight: 400;
            text-align: right;
            color: $default-gray;
            &.tbd {
                color: $light-gray;
                &::after {
                    content: ' (maybe)';
                } 
            }
        }

    }
    hr {
        width: 98%;
        margin: .5rem auto;
        color: $default-gray;
    }
}
.topics {
    list-style: none;
    padding: 0;
    @extend .flex;
    justify-content: center;
    .topic-summary {
        list-style: none;
        padding: 0;
        color: $default-gray;
        margin: 1rem 0 .5rem;
        @extend .flex;
        justify-content: center;
        li {
            display: inline;
            &::after {
                content: "  |  ";
            }
            margin: .1rem;
            span {
                white-space: pre
            }
        }
        li:last-child {
            &::after {
                content: "  ";
            }
        }
    }

    .topic-info {
        width: 90%;
        p {
            margin: 0;
            text-align: center;
            color: $default-gray;
            font-style: italic;
            font-size: 1.25rem;
        }
        button {
            @extend .default-button;
            width: 10rem;
        }
    }

    .topic {
        width: 340px;
        margin: 1rem;
        background: #FFF;
        padding-bottom: .5rem;
        box-shadow: .25rem .25rem 1rem rgba(0,0,0,.15);
        transition: all 250ms;
        border-radius: .25rem;
        &:hover {
            box-shadow: .25rem .25rem 1rem rgba(0,0,0,.25);
        }
        .topic-bar {
            background: $default-purple;
            height: 4rem;
            margin-bottom: 1rem;
            width: 100%;
            border-radius: .25rem .25rem 0 0;
            position: relative;
            div {
                margin: .5rem;
                width: 80%;
                a {
                    font-weight: 400;
                    font-size: 1.25rem;
                    color: #FFF;
                    display: block;
                    text-decoration: none;
                }
            }

            img {
                display: block;
                margin-left: .5rem;
                height: 2rem;
                width: 2rem;
                position: relative;
            }
        }
        table {
            margin: 1rem;
            td {
                border-bottom: 1px solid #ddd;
                margin: 1rem;
                padding: .5rem;
                vertical-align: top;
            }
        }
    }
}

#notes-section {
    background: rgba(255,255,255,.85); 
    border-radius: .2rem;
    width: 100%;
    max-width: 50rem;
    margin: 1rem auto;
    #notes-bar {
        background: $default-purple;
        color: white;
        border-radius: .2rem .2rem 0 0;
        width: 100%;
        padding: 1rem 0 1rem;
        h1 {
            display: block;
            margin: 0 1rem;
        }

    }
    #notes-info {
        text-align: center;
        font-size: 1.25rem;
        color: black;
    }
    .notes {
        text-align: left;
        background: white;
        display: block;
        height: 50rem;
        overflow-x: auto;
        width: 90%;
        max-width: 40rem;
        padding: 1rem;
        margin: 1rem auto;
        hr {
            height: .25rem;
            width: 90%;
            background: $default-purple;
        }
        h4 {
            color: $default-purple;
            font-style: italic;
        }
        .overflow {
            width: 95%;
            overflow: scroll;
            margin: 0 auto;
            background: #DDD;
            .console {
                padding: 1rem;
                display: inline-block;
                color: #000;
                width: 40rem;
            }
        }
    }
    
}
